<html>
  <head>
    <title>My Awesome Site</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
  </head>

  <body>
    <%= yield %>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/application.js"></script>
  </body>
</html>
